body::after {
  content: "";
  background-image: url('http://fc08.deviantart.net/fs71/i/2014/294/0/0/godzilla_s_coming_to_tokyo_by_warriorking4ever-d83o519.png');
  background-size: 100%;
  opacity: .8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}

h1 {
  font-size: 80px;
  font-family:serif;
  opacity: .5;
}

h3 {
  font-size: 30px;
  font-family:serif;
  opacity: .8;
  color: white;
}

.title {
  margin-top: 8%;
  text-align: center;
  color: #FFF;
}

#stats {
  margin-left: 200px;
  margin-bottom: 50px;
  text-align: center;
}

#buttons {
  text-align: center;
}

#endgame {
  display: none;
  margin-top: 50px;
  text-align: center;
  color: white;
}

.btn {
  min-width: 100px;
  margin: 10px;
  margin-right: 200px;
}

#again {
  margin: auto;
}

#buttons-fake {
  display: none;
}
